<h1>FAQ</h1>

<h2>Q: How do I sign up?</h2>
<p>
  Top right corner. Check it.
</p>

<h2>Q: My deck isn't saving! Help?</h2>
<p>
  Please try again. If you spammed the save button, this is why. If that doesn't
  work...
</p>

<p>
  You can either contact us (bottom-right corner) or join our Telegram group
  for direct support: <%= link_to "@CAHCreator", "https://telegram.me/CAHCreator" %>
</p>

<h2>Q: Why is it only letting me add one card?</h2>
<p>
  You need to press enter to save a card. You feel pretty stupid now, don't you.
</p>

<h2>Q: Why aren't my black cards saving?</h2>
<p>
  Did you make sure to put in the pick #? That isn't put in automatically. I might
  add that in a future update or something.
</p>

<h2>Q: So I made the cards and all... but how do I actually <i>play</i> with them?</h2>
<p>
  You could go make a game over at <%= link_to "Cards Against Equestria", "http://cardsagainstequestria.com/" %>
  and add a custom set from the lobby. I'm also working on a pretty cool Telegram
  bot at the moment. If you want to get updates, join our Telegram group:
  <%= link_to "@CAHCreator", "https://telegram.me/CAHCreator" %>
</p>

<h2>Q: I don't want to join the Telegram group.</h2>
<p>
  <%= link_to "Yes you do.", "https://telegram.me/CAHCreator" %>
</p>

<h2>If all else fails...</h2>
<p>
  If you're 100% sure that your question isn't answered by that great FAQ, please
  don't hesitate to <%= "contact us", "javascript:Tawk_API.maximize()" %>. You
  could also join our Telegram group to get help from your fellow creators:
  <%= link_to "@CAHCreator", "https://telegram.me/CAHCreator" %>
</p>
