<h1 class="center"><%= t('index_header') %></h1>

<h2><%= t('index_step_one.header') %></h2>
<p>
  <%= t('index_step_one.content') %>
</p>

<h2><%= t('index_step_two.header') %></h2>
<p>
  <%= t('index_step_two.content') %>
</p>

<h2><%= t('index_step_three.header') %></h2>
<p>
  <%= t('index_step_three.content').html_safe %>
</p>

<h2><%= t('index_step_four.header') %></h2>
<p>
  <%= t('index_step_four.content') %>
</p>

<h2><%= t('index_step_five.header') %></h2>
<p>
  <%= t('index_step_five.content', :cae_link => link_to(t('cards_against_equestria'), "https://cardsagainstequestria.com")).html_safe %>
</p>

<h1 class="center"><%= t('index_button_header') %></h1>

<p class="hero-button-wrapper">
  <% if current_user %>
    <a class="hero-button" href="<%= new_deck_path %>">
      <%= t('index_button_text.create_deck') %>
    </a>
  <% else %>
    <a class="hero-button" href="<%= signup_path %>">
      <%= t('index_button_text.signup') %>
    </a>
  <% end %>
</p>
