<div class="login-box card black">
  <%= form_for :user do |form| %>
    <% if @then %>
      <%= form.hidden_field :then, value: @then %>
    <% end %>

    My email is <%= form.text_field :email %> and my
    password is <%= form.password_field :password %>.
    <%= form.button "Sign In" %>
  <% end %>
  <span class="black-card-pick-number">Pick 2</span>
</div>

<p class="center">
  <%= link_to "I don't have an account", signup_path %>
</p>
