<h1><%= t('premium_accounts') %></h1>

<p>
  <%= t('premium_description') %>
</p>

<ul>
  <li><%= t('premium_features.lift_card_limit') %></li>
  <li><%= t('premium_features.lift_deck_limit') %></li>
  <li><%= t('premium_features.simultaneous_editors') %></li>
  <li><%= t('premium_features.cool_badge') %></li>
  <li><%= t('premium_features.good_vibes') %></li>
  <li><%= t('premium_features.video') %></li>
  <li><%= t('premium_features.support') %></li>
</ul>

<h2><%= t('giveaways') %></h2>

<p>
  <%= t('giveaways_description') %>
</p>

<h2><%= t('purchase') %></h2>

<% if current_user.premium %>
  <p>
    <%= t('already_purchased', donate_link: link_to(t('donate_page'), donate_path)).html_safe %>
  </p>
<% else %>
  <p>
    <%= t('premium_technical_description', stripe_link: link_to("Stripe", "https://stripe.com")) %>
  </p>

  <% if current_user.premium_override_price %>
    <p>
      <b>Wow!</b> It looks like an admin has changed the price of Premium, <i>just for you</i>!
    </p>
  <% end %>

  <form action="" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= $stripe_pub_key %>"
      data-amount="<%= current_user.premium_price %>"
      data-name="CAH Creator"
      data-description="Premium Account"
      data-bitcoin="true"
      data-label="Buy Premium"
      data-email="<%= current_user.email %>"
      data-image="https://avatars3.githubusercontent.com/u/15242410?v=3&s=200"
      data-locale="auto">
    </script>
  </form>
<% end %>
