<h1>
  <%= @user.name %>'s Profile

  <% if @user.premium %>
    <%= link_to "Premium", premium_path, class: "premium-badge" %>
  <% end %>

  <% if @user.admin %>
    <span class="admin-badge">Admin</span>
  <% end %>
</h1>

<p>
  <%= @user.name %> has created <%= @user.decks.count %> decks.
  <% if @user.admin %>
    They are also an admin of CAH Creator.
  <% end %>
</p>

<div class="decks">
  <% @user.decks.order("id DESC").each do |deck| %>
    <%= render partial: "decks/module", locals: { deck: deck } %>
  <% end %>
</div>
