<h1><%= t('import_deck') %></h1>

<p>
  <%= t('import_description') %>
</p>

<%= form_for :imported_deck do |form| %>
  <p>
    <%= form.text_area :json, :style => "width: 100%; height: 100px;" %>
  </p>
  <p>
    <%= form.button t('import') %>
  </p>
<% end %>

<p>
  <%= t('import_cardcast_description').html_safe %>
</p>

<script>$("#cardcastimport").click(CAHCreator.openCardcastDialog)</script>
