<h1><%= t('new_deck') %></h1>

<%= form_for :deck, url: decks_path do |form| %>
  <p>
    <%= t('new_deck_description') %>
  </p>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <%= form.button "Save" %>
<% end %>
