<h1><%= t('deck') %>: <%= @deck.name %></h1>

<p>
  <%= t('created_by') %> <%= link_to @deck.user.name, @deck.user %>
</p>

<% if current_user && current_user == @deck.user || current_user && current_user.admin %>
  <p>
    <%= link_to t('edit_this_deck'), edit_deck_path(@deck) %>
  </p>

  <p>
    <%= link_to t('order_print'), new_deck_order_path(:deck => @deck.id) %>
  </p>
<% end %>

<h3><%= t('black_cards') %></h3>
<% if @deck.black_cards.count != 0 %>
  <% @deck.black_cards.each do |card| %>
    <%= render partial: "cards/black", locals: { card: card } %>
  <% end %>
<% else %>
  <i><%= t('nothing_here') %></i>
  <% if current_user && current_user == @deck.user %>
    <%= t('add_cards_help', edit_url: link_to(t('edit_the_deck'), edit_deck_path(@deck))).html_safe %>
  <% end %>
<% end %>

<h3><% t('white_cards') %></h3>
<% if @deck.white_cards.count != 0 %>
  <% @deck.white_cards.each do |card| %>
    <%= render partial: "cards/white", locals: { card: card } %>
  <% end %>
<% else %>
  <i><%= t('nothing_here') %></i>
  <% if current_user && current_user == @deck.user %>
    <%= t('add_cards_help', edit_url: link_to(t('edit_the_deck'), edit_deck_path(@deck))).html_safe %>
  <% end %>
<% end %>
